@import "./index.css";

/* ======================= 標題區 =======================*/
.purple_bg {
    width: 100%;
    height: 26vw;
    background-color: #9070af;
    margin-bottom: 47%;
}
.section0_dots_inside {
    position: absolute;
    width: 60%;
    left: 100px;
    z-index: -0;
    top: 130px;
    opacity: 0.5;
}
.section_case_title{
    width: 1100px;
    margin: 0 auto;
    width: 85%;
    max-width: 1100px;
    position: relative;
    padding-top: 40px;
}

.case_client_inside{
    width: auto;
    padding: 12px 15px;
    display: inline-block;
    background-color: white;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.case_title_inside {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px 0;
    position: relative;
    font-size: 28px;
    margin: 20px 0;
}
@media screen and (min-width: 1440px){
    .purple_bg {
        height: 19.4vw;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1439.98px){
    .purple_bg {
        height: 24vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024.98px){
    .purple_bg {
        height: 30vw;
    }
    .case_client_inside {
        font-size: 18px;
    } 
    .case_title_inside{
        font-size: 24px;
    }
    .section0_dots_inside {
        position: absolute;
        width: 80%;
        left: 10px;
        z-index: -0;
        top: 120px;
        opacity: 1;
    }
}

@media screen and (min-width: 420px) and (max-width: 767.98px){
    .purple_bg {
        height: 40vw;
    }
    .case_client_inside {
        font-size: 16px;
        padding: 12px 15px;
    }
    .case_title_inside{
        font-size: 18px;
    }
    .section_case_title {
        padding-top: 20px;
    }
    .section0_dots_inside {
        position: absolute;
        width: 80%;
        left: 10px;
        z-index: -0;
        top: 120px;
        opacity: 1;
    }
}

@media screen and (max-width: 419.98px) {
    .case_client_inside {
        padding: 6px 10px;
        font-size: 16px;
    }
    .case_title_inside{
        font-size: 18px;
        margin: 10px 0;
    }
    .section_case_title {
        padding-top: 0px;
    }
    .section0_dots_inside {
        position: absolute;
        width: 80%;
        left: 10px;
        z-index: -0;
        top: 120px;
        opacity: 1;
    }
}

/* ======================= 標題區end =======================*/
/* ======================= 輪播區 =======================*/
.slider_container{
    position: absolute;
    left: calc((100% - (50vw - 2px))/2);
    top: 30vw;
}
.slider_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_all {
    display: flex;
    position: absolute;
    padding: 0;
}
.slider_img {
    width: 50vw;
    height: 37vw;
    background-size: cover;
    flex-shrink: 0;
}

/* ~~~~~~~~~ 輪播區 下方小圖  ~~~~~~~~~ */
.slider_small_flex {
    display: flex;
    justify-content: flex-start;
    width: calc(50vw - 2px);
    margin: auto;
    padding-left: 0px;
}

.slider_img_small {
    width: calc(48.9vw / 5);
    height: 10vw;
    background-size: cover;
    box-sizing: border-box;
    margin-right: 5px;
    margin-top: 5px;
    background-position: center;
}
.slider_main_img {
    width: calc(50vw - 2px);
    height: 37vw;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 1440px){
    .slider_container{
        top: 20vw;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1439.98px){
    .slider_container{
        top: 24.1vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024.98px){
    .slider_container{
        top: 36vw;
    }
}

@media screen and (min-width: 420px) and (max-width: 767.98px){
    .slider_container{
        top: 40vw;
    }
}

@media screen and (max-width: 419.98px) {
      
}
/* ~~~~~~~~~ 輪播區 下方小圖end  ~~~~~~~~~ */
/* ======================= 輪播區end =====================*/
/* ======================= 箭頭區 ======================= */
.slider_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    border-color: transparent #9070af transparent transparent;
}
.slider_arrow_left {
    margin-right: 30px;
    border-width: 18px 24px 18px 0;
}
.slider_arrow_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 24px;
    border-color: transparent transparent transparent #9070af;
    margin-left: 30px;
}

.slider_arrow_left:hover {
    border-color: transparent #bba1cb transparent transparent;
}
  .slider_arrow_right:hover {
    border-color: transparent transparent transparent #bba1cb;
}
@media screen and (min-width: 1025px){

}

@media screen and (min-width: 768px) and (max-width: 1024.98px){

}

@media screen and (min-width: 420px) and (max-width: 767.98px){

}

@media screen and (max-width: 419.98px) {
    .slider_arrow_right {
        margin-left: 15px;
        border-width: 14px 0 14px 20px;
    }
    .slider_arrow_left {
        margin-left: 15px;
        border-width: 14px 0 14px 20px;
    }  
}
/* ======================= 箭頭區結束 ======================= */
/* ======================= 下方文字說明區 ==================== */
#section1_case {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
}
/* ======================= 下方文字說明區end ================= */


@media screen and (min-width: 1440px){
}

@media screen and (min-width: 1025px){

}
@media screen and (min-width: 768px) and (max-width: 1024.98px){

}

@media screen and (max-width: 767.98px){

}
@media screen and (max-width: 420px) {
      
}